<html>
    <head>
        <title>fetch_delivery</title>
        <script src="static/js/speechkitt.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
    </head>

    <body>
        <script>
        console.log("ANNYANG ABOUT TO RUN");
        if (annyang) {
          console.log("ANNYANG RUNNING");
          // Add our commands to annyang
          var goToLocation = function(location) {
            console.log(location);
            $.ajax({
                url: '/pos',
                type: 'POST',
                data: JSON.stringify({ "location" : location}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(res) {
                    console.log("Successful position sent");
                }
            });
          }

          annyang.addCommands({
            // 'hello': function() { alert('Hello world!'); }
            'go (to) :location': goToLocation
          });

          // Tell KITT to use annyang
          SpeechKITT.annyang();

          // Define a stylesheet for KITT to use
          SpeechKITT.setStylesheet('https://cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/themes/flat.css');

          SpeechKITT.setInstructionsText('Some commands to try...');

          SpeechKITT.setSampleCommands(['Go to room 500']);

          SpeechKITT.displayRecognizedSentence(true);

          // Render KITT's interface
          SpeechKITT.vroom();

          console.log("END OF JS");
        }
        </script>

        <form method="post" action="{{ url_for('pos') }}">
            <input type="number" step="any" placeholder="x" name="x"></input><br>
            <input type="number" step="any" placeholder="y" name="y"></input>
            <input type="submit">
        </form>

        <a href = "/add">Add Location</a>


        <div>
          {% for entry in data %}
              <div>{{entry.location}} at ({{ entry.x }}, {{ entry.y }})</div>
          {% endfor %}
        </div>
    </body>
</html>
